
            <div class="panel-heading">
                <div class="panel-menu">
                
                    <ul>
                        <li><a href="shared/{{ app.user.username }}/" target="_blank" rel="tooltip" title="{% trans %}Public list{% endtrans %}"><i class="fa fa-fw fa-chain"></i></a></li
                        <li><a id="refreshDataBrowser" rel="tooltip" title="{% trans %}Reload current datasheet{% endtrans %}"class="ajax" href="{{ path('databrowser', {'start': '1430690400', 'end': '1431295190'}) }}" target="data-browser-inner" rel=""><i class="fa fa-fw fa-refresh"></i></a></li>
                        <li><a class="window" href="plot/month" rel="tooltip" title="{% trans %}Activity per month{% endtrans %}"><i class="fa fa-fw fa-bar-chart-o"></i></a></li>
                        <li><a class="window" href="plot/week" rel="tooltip" title="{% trans %}Activity per week{% endtrans %}"><i class="fa fa-fw fa-bar-chart-o"></i></a></li>
                        <li><a data-size="big" class="window" href="search" rel="tooltip" title="{% trans %}Search for an activity{% endtrans %}"><i class="fa fa-fw fa-search"></i></a></li>
                        <li><a data-size="small" class="window" href="activity/create" rel="tooltip" title="{% trans %}Add workout{% endtrans %}"><i class="fa fa-fw fa-plus"></i></a></li>
                    </ul>
                </div>
                <div class="icons-left">
                    <span id="calendar-link" class="link" title="Calendar"><i class="fa fa-fw fa-calendar"></i></span><a class="ajax" href="{{ path('databrowser', {'start': backtime.start, 'end': backtime.end}) }}" target="data-browser-inner" rel="" title="{% trans %}back{% endtrans %}">
                        <i class="fa fa-fw fa-chevron-left"></i></a><a class="ajax" href="{{ path('databrowser', {'start': nexttime.start, 'end': nexttime.end}) }}" target="data-browser-inner" rel="" title="{% trans %}next{% endtrans %}"><i class="fa fa-fw fa-chevron-right"></i></a>
                    </div>
                        <h1><a class="ajax" href="{{ path('databrowser', {'start': month.start, 'end': month.end}) }}" target="data-browser-inner" rel="" title="{% trans %}Show month{% endtrans %}">{{ title.month }},</a>
                            <a class="ajax" href="{{ path('databrowser', {'start': year.start, 'end': year.end}) }}" target="data-browser-inner" rel="" title="{% trans %}Show year{% endtrans %}">{{ title.year }},</a>
                            <a class="ajax" href="{{ path('databrowser', {'start': week.start, 'end': week.end}) }}" target="data-browser-inner" rel="" title="{% trans %}Show week{% endtrans %}">{{ title.week }}. {% trans %}week{% endtrans %}</a>
</h1>
            </div>
            <div class="panel-content">
                <div id="data-browser-calendar">
                    <div id="widget-calendar">
                    </div>

                    <span id="calendar-result" class="hide">{% trans %}Choose a date ...{% endtrans %}</span>
                    <input id="calendar-start" type="hidden" value="">
                    <input id="calendar-end" type="hidden" value="">
                    <input id="calendar-locale" type="hidden" value="">
                    <div class="c">{% trans %}You can select any time range by selecting two dates.{% endtrans %}</div>
                    <div class="c">
                        <span class="button" id="calendar-submit">{% trans %}Show selection{% endtrans %}</span>
                    </div>
                </div>
                <div id="data-browser-container">
                    <table class="zebra-style">
                        <tbody class="top-and-bottom-border">    
                        {% for day in days %}
                            {% if day.trainings %}
                                <tr class="r training">
                                <td class="l" style="width:24px;">
                                    {% if day.shorts %}
                                        {% include 'RunalyzeCoreBundle:Databrowser:_shortTraining.html.twig' with {'day.shorts': 'day.shorts'}%}
                                    {% endif %}
                                </td>
                                <td class="l">
                                    {{ day.date|date("d.m.") }}
                                    <a data-size="small" class="window" href="{{ day.date|date("d.m.y") }}"><i class="fa fa-fw fa-plus fa-grey"></i></a>
                                    
                                    {{ day.date|date("D") }}
                                 </td>
                                </tr>
                             {% else %}
                                 <tr class="r">
                            <td class="l" style="width:24px;">
                                {% for short in day.shorts %}
                                    {% include 'RunalyzeCoreBundle:Databrowser:_shortTraining.html.twig' with {'day.shorts': 'day.shorts'}%}
                                 {% endfor %}
                            </td>
                            <td class="l">
                                {{ day.date|date("d.m.") }}
                                <a data-size="small" class="window" href="{{ day.date|date("d.m.y") }}"><i class="fa fa-fw fa-plus fa-grey"></i></a>
                                {% if day.date|date('dmy') == 'now'|date('dmy') %}
                                <b>{{ day.date|date("D") }}</b>
                                {% else %}
                                {{ day.date|date("D") }}
                                {% endif %}
                            </td>
                            <td colspan=""></td>
                                 </tr>
                            {% endif %}
                        {% endfor %}

                        </tbody>
                        <tbody>
                        </tbody>
		</table>
            </div>

